---
title: Nav
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-body">
      <h1>HOT Projects & Tools Nav Components</h1>

      <div class="nav-sample">
        {% include nav1.html %}
        <div class="description">
          <p><a href="sample-nav-1"><b>Sample Navigation 1</b> — Core HOT project or tool with primary nav and log in items.</a></p>
        </div>
      </div>

      <div class="nav-sample">
        {% include nav2.html %}
        <div class="description">
          <p><a href="sample-nav-2"><b>Sample Navigation 2</b> — Core HOT project or tool with primary nav and secndary navs, a dropdown and external link.</a></p>
        </div>
      </div>

      <div class="nav-sample">
        {% include nav3.html %}
        <div class="description">
          <p><a href="sample-nav-3"><b>Sample Navigation 3</b> — Project or tool supported by HOT with right-aligned nav.</a></p>
        </div>
      </div>

      <div class="nav-sample">
        {% include nav4.html %}
        <div class="description">
          <p><a href="sample-nav-4"><b>Sample Navigation 4</b> — Unbranded project or tool with multiple contributors.</a></p>
        </div>
      </div>

    </div>
  </body>
</html>
