<div id="nav">
  <div class="nav-container">
    <a class="nav-title with-logo" href="/">
      <img class="logo" src="/images/hot-logo-icon-white.svg">
      <span>Project Title</span>
    </a>
    <div class="nav-items">
      <div class="nav-left">
        <nav class="nav-main">
          <a href="#" class="active">Item One</a>
          <a href="#">Item Two</a>
        </nav>
        <div class="hr-v"></div>
        <nav class="nav-secondary">
          <a href="#">Secondary One</a>
          <a href="#">Secondary Two</a>
        </nav>
      </div>
      <div class="nav-right">
        <nav role="navigation" class="nav-dropdown">
          <div>
            <a href="#" aria-haspopup="true" class="dropdown-link">
              Dropdown
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M7 10l5 5 5-5z" fill="#D73F3F"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
            </a>
            <ul class="dropdown" aria-label="submenu">
              <li><a href="#">Dropdown Item 1</a></li>
              <li><a href="#">Dropdown Item 2</a></li>
              <li><a href="#">Dropdown Item 3</a></li>
            </ul>
          </div>
        </nav>
        <div class="hr-v"></div>
        <div class="nav-external-links">
          <a href="hotosm.org" target="_blank">
            hotosm.org
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z" fill="#D73F3F"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="nav-anchor">
    <svg height="14" viewBox="0 0 24 14" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="#d73f3f" fill-rule="evenodd"><path d="m0 0h24v2h-24z"/><path d="m0 6h24v2h-24z"/><path d="m0 12h24v2h-24z"/></g></svg>
  </div>
</div>

<script>
  var navAnchor = document.getElementById('nav-anchor'),
    nav = document.getElementById('nav');
  navAnchor.addEventListener('click', function(e) {
    nav.className = nav.className? '' : 'show-nav';
    e.preventDefault();
  });
</script>
