html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-default;
  font-size: 16px;
  background-color: tint($blue-light, 65%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-size: 1rem;
  margin: 0 0 32px;
  font-size: .875rem;
}

.page-body {
  padding: 32px;
}

.nav-sample {
  background-color: tint($blue-light, 85%);
  box-shadow: $default-box-shadow;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: $default-border-radius;
}

.description {
  padding-top: 12px;
  line-height: 1.4;
  font-size: .875rem;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $blue-grey;
    b {
      // color: $blue-dark;
      font-weight: bold;
      text-decoration: underline;
    }
    &:hover {
      b {
        color: $blue-dark;
      }
    }
  }
}

.back {
  display: inline-block;
  margin-left: 12px;
  padding-top: 12px;
  color: $blue-grey;
}
